.bodys{
    /* margin: 0%; */
    padding: 5%;
    background-color:black;
    width: 100%;
    height: 100%;
}.imges{
    width: 68%;
    height: 28pc;
}.cards{
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    background-color:hwb(34 18% 6% / 0.884);
    color:white
}.content1{
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;
    color: white;
}.table1{
    border: 2px solid white;
    text-align: center;
}td{
    border: 2px solid white;
}th{
    border: 1px solid white;
}.name1{
    text-shadow: 5px 2px black;
    font-size: 30px;

}
